/* Imports Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Imports Google Font Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Default element styles*/
* {
    font-family: 'Poppins', 'Arial';
    margin: 0;
    padding: 0;
}

html {
    /* scroll-behavior: smooth; */
    background-color: #121212;
}

section {
    background-color: #121212;
}

/* Navbar styles */
.navbar {
    background-color: #121212;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 72px;
}

.banner-link {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.primary-links {
    display: flex;
    gap: 48px;
    align-items: center;
}

.nav-link {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    transition: ease-out .5s;
    justify-content: center;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #4285F4, #D6C8FF);
    opacity: 0;
    transition: ease-out .5s;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1);
    transition: ease-out .5s;
}

.nav-link.active::after,
.nav-link:focus::after {
    opacity: 1;
}

.nav-link.active,
.nav-link:focus {
    color: rgba(255, 255, 255, 1);
}



/* Button Styles */
.primary-button {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    padding: 24px 32px;
    transition: ease .5s;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.primary-button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #121212;
}

.nav-button-mods {
    padding: 16px 20px;
}

.secondary-button {
    display: flex;
    border: 1px transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    padding: 24px 32px;
    transition: ease .5s;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.secondary-button:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/* Hero Section Styles */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 124px 0 0 0;
}

.hero-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

h1 {
    font-size: 96px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.text-gradient {
    background-image: linear-gradient(to right, #4285F4, #D6C8FF);
    /* Gradient as background */
    background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.spacer {
    margin-left: 10px;
}

.spacer-both {
    margin-left: 10px;
    padding-right: 10px;
}

/* Hero section subtitle */
.sub-title {
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    text-align: center;
}

.prob-svg {
    border: 4px solid;
    background-image: linear-gradient(to right, #4285F4, #D6C8FF);
    border-radius: 10px;
    border-image: linear-gradient(45deg, #4285F4, #D6C8FF) 1;
    margin: 64px 0;
    box-shadow: 0px 0px 80px rgba(35, 43, 67, 1);
}

/* Challenges Section Styles */

.page-section {
    /* padding: 180px 72px 32px 72px; */
    padding: 180px 24px 32px 24px;
    background-color: #121212;
}

h2 {
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.challenge-container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    padding: 180px 0 0 0;
}

.challenge-item {
    width: 272px;
    height: 272px;
    border: 1px solid rgba(255, 255, 255, .7);
    background-image: linear-gradient(to right, #121212, #2A3558);
    transform: rotate(45deg);
    color: rgba(255, 255, 255, 1);
    position: relative;
    text-align: center;
}

.challenge-num {
    font-family: 'Roboto Mono';
    font-size: 18px;
    font-weight: 800;
}

.challenge-desc {
    font-size: 24px;
    font-weight: 600;
    padding: 48px 0;
    width: 280px;
}

.challenge-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Features Section Styles */
.heading-caption {
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    padding: 32px 0;
}

.features-box {
    padding: 32px 72px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-container {
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    background-color: #2A3558;
    /* gap: 64px; */
    padding: 32px 32px;
    height: 480px;
    overflow: hidden;
}

.feature-container-gradient {
    background-image: linear-gradient(to right, #121212, #2A3558);
}

.feature-container-two {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 64px;
    background-color: #2A3558;
    border-radius: 16px;
    /* gap: 64px; */
    padding: 32px 32px 0px;
    height: 780px;
    overflow: hidden;
    margin-right: 20px;
    /* height: auto; */
}

.feature-container-two:last-child {
    margin-right: 0;
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* flex: 1; */
}

.feature-num {
    font-family: 'Roboto Mono';
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
}

.feature-desc {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
}

.feature-img {
    display: flex;
    flex: 1;
    position: relative;
    /* right: -100px; */
    right: -100px;
}

.feature-four-img {
    position: relative;
    bottom: -28px;
    border: 1px solid #898888;
    border-radius: 4px;
    width: 100%;
}

.feature-five-img {
    position: relative;
    bottom: -72px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.two-features {
    display: flex;
}

.three-features {
    display: flex;
}

.feature-container-three {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #2A3558;
    border-radius: 16px;
    padding: 32px 32px 0px;
    height: 540px;
    overflow: hidden;
    margin-right: 20px;
    /* height: auto; */
}

.feature-container-three:last-child {
    margin-right: 0;
}

.feature-img-center {
    right: 0px;
    bottom: -10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #898888;
}
.feature-six-img {
    margin-top: 40px;
}

/* Demo Video Section Styles */

.demo-container {
    display: flex;
    height: 80vh;
    padding: 0 72px;
}

.demo-vid {
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    border-radius: 10px;
    margin: 64px 0;
    box-shadow: 0px 0px 80px rgba(35, 43, 67, 1);
}

/* Testing Table Styles */
.table-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 72px;
    padding-left: 72px;
    padding-right: 72px;
}

.table-row {
    display: flex;
    align-items: flex-start;
    gap: 140px;
}

.row-desc {
    font-size: 18px;
    color: rgba(255, 255, 255, .7);
    font-weight: 300;
    flex: 2;
}

.row-tester {
    font-family: 'Roboto Mono';
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    flex: 1;
}

.row-tester-human {
    font-family: 'Roboto Mono';
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    flex: 1;

}

.table-line {
    border-color: rgba(255, 255, 255, .6);
    width: 100%;
}

.row-title {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    flex: 1;
    align-content: flex-start;
}

.col-heading {
    font-family: 'Roboto Mono';
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, .7);
    flex: 1;
}

.col-heading-desc {
    font-family: 'Roboto Mono';
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, .7);
    flex: 2;
}

.col-heading-vedette {
    font-family: 'Roboto Mono';
    font-size: 18px;
    font-weight: 800;
    background-image: linear-gradient(to right, #4285F4, #D6C8FF);
    /* Gradient as background */
    background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    flex: 1;
}

.help-icon:hover {
    cursor: default;
    background-image: linear-gradient(to right, #4285F4, #D6C8FF);
    background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
}

/* FAQs Section Styles */
.faqs {
    min-height: 100vh;
    max-height: 300vh;
    padding: 56px 300px 0px 300px;
    align-content: center;
    padding-top: 180px;
}

/* Modifed from https://github.com/ajaymuktha/React-Accordion/tree/main */
.faqs h2 {
    text-align: center;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}

.question {
    padding: 4vh 4vh;
    margin-bottom: 2vh;
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(to right, #2F3F68, #1E2A4B);
    cursor: pointer;
}

.question:hover {
    background-image: linear-gradient(to right, #2F3F68, #2F3F68);
}

.question p {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
    margin-top: 3vh;
}

.question header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question header h4 {
    margin-bottom: 0;
}

.btn {
    color: rgba(255, 255, 255, 1);
    width: 2vh;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background: transparent;
    border-color: transparent;
}

/* Final CTA Section */
.final-cta {
    padding: 0 200px;
    height: 60vh;
    align-content: center;
    padding-bottom: 100px;
}

.final-cta h3 {
    text-align: center;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}

.final-cta .primary-button {
    width: 200px;
    margin: 0 auto;
}

/* Team Page Intro */
.team-intro {
    padding: 124px 0 0 0;
}

.intro-text {
    text-align: center;
}

.intro-text h3 {
    font-size: 48px;
    padding-bottom: 32px;
}

.intro-text p {
    font-size: 16px;
    color: rgba(255, 255, 255, .7);
    max-width: 45%;
    margin: 0 auto;
}

.team-profile-container {
    display: flex;
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 140px;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 16px;
}

.team-profile img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.team-profile h4 {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
}

.team-profile p {
    font-size: 16px;
    color: rgba(255, 255, 255, .7);
    margin-bottom: 8px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    opacity: 0.7;
}

.social-icons img:hover {
    opacity: 1;
    cursor: pointer;
}

.icon-container {
    display: flex;
    gap: 4px;
}
.campus-visit, .guiding-principles {
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.campus-visit .img-container {
    padding-top: 40px;
    padding-left: 188px;
    padding-right: 188px;
}
.campus-visit .img-container img {
    width: 100%;
}

.guiding-principles {
    padding-left: 140px;
    padding-right: 140px;
}
.guiding-principles .intro-text {
    margin-bottom: 40px;
}
.principles-row {
    gap: 24px;
    display: flex;
    margin-bottom: 24px;
}

.principles-container {
    padding-top: 56px;
}
.principle-square-card {
    background-color: #242D46;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    gap: 8px;
    /* justify-content: center;
    align-items: center; */
    width: 30%;
    /* height: 320px; */
    height: 400px;
    padding: 32px;
    overflow: hidden;
}
.principle-rectangle-card {
    background-color: #242D46;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    gap: 8px;
    /* justify-content: center;
    align-items: center; */
    width: 70%;
    /* height: 320px; */
    height: 400px;
    /* height: 72vh; */
    padding: 32px;
    overflow: hidden;
}
.principle-width-limit .principle-desc {
    max-width: 50%;
}
.principle-desc, .principle-content a {
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
}
.principle-content a {
    text-decoration: underline;
}
.principle-content a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
}
.research-img-right {
    position: relative;
    right: -80px;
    bottom: 20px;
}

.threecircles-img-right {
    width: 400px;
    position: relative;
    right: -230px;
    bottom: 220px;
}
.aiglitter-img-right {
    width: 180px;
    position: relative;
    right: -100px;
    bottom: -20px;
}

.google-img-right {
    width: 280px;
    position: relative;
    right: -80px;
    bottom: 56px;
}




/* Milestone Page Styles */

/* Milestone Cards */

.milestones-parent-conainter {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 56px;
}

.milestone-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.milestone-card {
    background-image: linear-gradient(to right, #2F3F68, #1E2A4B);
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    border-radius: 16px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
}

.milestone-value {
    font-size: 80px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

.milestone-name {
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

.milestone-img {
    border-radius: 8px;
    border: 2px solid;
    background-image: linear-gradient(to right, #4285F4, #D6C8FF);
    border-image: linear-gradient(45deg, #4285F4, #D6C8FF) 1;
}

.milestone-img-left {
    flex: 1;
    position: relative;
    left: -100px;
    bottom: -100px;
}

.milestone-img-right {
    display: flex;
    flex: 1;
    position: relative;
    right: -300px;
    bottom: -64px;
}

.feature-container.feature-container-gradient.milestone {
    align-items: center;
    padding: 0px 32px;
}

.features-box.milestone {
    padding-top: 56px;
}

.three-features.milestone {
    padding-top: 56px;
}

.next-step-img-left {
    position: relative;
    left: -160px;
    bottom: -56px;
}

.next-step-img-center {
    position: relative;
    bottom: -56px;
}

.next-step-img-right {
    position: relative;
    right: -160px;
    bottom: -88px;
}

.page-section.bottom {
    padding-bottom: 120px;
}

/* Footer */
.footer {
    padding: 0 72px;
    background-color: #121212;
}

.footer-container {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #A3B5FC, #D8CDff);
    border-image-slice: 1;
}

.footer-link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    transition: ease-out .5s;
    justify-content: center;
}

.footer-link:hover {
    color: rgba(255, 255, 255, .7);
}


/* Phone Sized viewport breakpoint styles */
@media only screen and (min-width: 320px) and (max-width: 600px) {
    html {
        margin-left: 24px;
        margin-right: 24px;
    }

    /* Hero section */
    .hero-section {
        text-align: center;
        padding-top: 80px;
    }
    .hero-section h1 {
        font-size: 40px;
    }
    .sub-title {
        font-size: 14px;
    }
    .button-container {
        gap: 12px;
    }
    .primary-button, .secondary-button {
        font-size: 14px;
        padding: 12px 20px; 
    }
    .prob-svg {
        width: 100%;
        border: 2px solid;
        border-radius: 4px;
        background-image: linear-gradient(to right, #4285F4, #D6C8FF);
        border-image: linear-gradient(45deg, #4285F4, #D6C8FF) 1;
        margin: 32px 0;
        box-shadow: 0px 0px 40px rgba(35, 43, 67, 1);
    }

    /* Challenges */
    .page-section {
        text-align: center;
        padding: 100px 0px 0px 0px;
    }
    .page-section h2 {
        font-size: 28px;
    }
    .challenge-container {
        display: inline-block;
        padding-top: 80px;
    }
    .challenge-item {
        width: 180px;
        height: 180px;
        padding: 4px;
    }
    .challenge-desc {
        font-size: 16px;
        width: 180px;
    }
    .challenge-num {
        font-size: 16px;
    }

    /* Features */
    .heading-caption {
        font-size: 14px;
    }
    .features-box {
        padding: 0px;
    }
    .feature-container {
        display: inline-block;
        padding: 24px;
    }
    .feature-container-gradient {
        background-image: none;
    }
    .feature-num {
        font-size: 16px;
    }
    .feature-content {
        gap: 20px;
    }
    h3 {
        font-size: 20px;
    }
    .feature-desc {
        display: none;
    }
    .feature-img-one {
        padding-top: 24px;
    }
    .feature-img {
        display: inline-block;
        right: 0px;
    }
    .feature-img img {
        width: 200%;
    }
    .two-features {
        display: inline-block;
    }
    .feature-container-two {
        margin-right: 0px;
        gap: 24px;
        height: 480px;
        margin-bottom: 20px;
        padding: 24px;
    }
    .feature-container-two:last-child {
        margin-bottom: 0px;
    }
    .feature-img-two img {
        width: 380%;
    }
    .feature-img-three img {
        width: 220%;
    }
    .three-features {
        display: none;
    }

    /* Video */
    .demo-container {
        width:100%;
        height: 32vh;
        padding: 0px;
    }
    .demo-vid {
        margin: 32px 0;
    }

    /* Table */
    .efficacy-table h2, .efficacy-table .heading-caption, .table-container {
        display: none;
    }

    /* FAQs */
    .faqs {
        padding: 0px;
        min-height: 100vh;
        max-height: 500vh;
    }
    .faqs h2 {
        text-align: center;
        font-size: 28px;
    }
    .question {
        padding: 2vh;
        border-radius: 8px;
        margin-bottom: 2.5vh;
    }
    .question header h4 {
        font-size: 14px;
        font-weight: normal;
        width: 90%;
    }
    .question p {
        font-size: 14px;
    }

    /* Final CTA */
    .final-cta {
        padding: 0px;
    }
    .final-cta h3 {
        font-size: 28px;
    }

    /* Footer */
    .footer {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-container {
        height: 40px;
        font-size: 16px;
    }
    .footer-link {
        margin: 0 auto;
    }
    .footer-container .primary-links {
        display: none;
    }

    /* NAVBAR TEMP */
    .navbar {
        display: none;
    }

    /* Team Page Intro */
    .people-heading {
        text-align: center;
    }
    .people-heading h2 {
        display: block;
    }
    .spacer-both {
        margin-left: 0px;
        padding-right: 0px;
    }
    .team-profile-container {
        display: inline-block;
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .team-profile img {
        width: 100%;
        height: auto;
    }
    .team-profile {
        margin-bottom: 40px;
    }

    .team-profile h4 {
        font-size: 20px;
    }

    .social-icons img {
        width: 24px;
        height: 24px;
        opacity: 0.7;
    }

    .social-icons img:hover {
        opacity: 1;
        cursor: pointer;
    }

    .icon-container {
        gap: 12px;
        display: inline-flex;
    }

    .guiding-principles {
        padding-left: 0px;
        padding-right: 0px;
    }
    .principles-row {
        display: block;
        margin-bottom: 0px;
    }
    .principles-container {
        padding-top: 20px;
    }
    .principle-square-card {
        display: inline-block;
        height: auto;
        width: auto;
        padding: 24px;
    }
    .principle-rectangle-card {
        display: inline-block;
        height: auto;
        width: auto;
        padding: 24px;
    }
    .principle-width-limit .principle-desc {
        max-width: 100%;
    }
    .principle-desc {
        font-size: 14px;
    }
    .principle-content a {
        display: none;
    }
    .principle-desc {
        padding-top: 12px;
    }
    .research-img-right {
        position: relative;
        right: 0px;
        bottom: 0px;
        width: 100%;
    }
    
    .threecircles-img-right {
        position: relative;
        right: 0px;
        bottom: 0px;
        width: 100%;
    }
    .aiglitter-img-right {
        position: relative;
        right: 0px;
        bottom: -20px;
        width: 100%;
    }
    
    .google-img-right {
        position: relative;
        right: 0px;
        bottom: 0px;
        width: 100%;
    }

    .campus-visit, .guiding-principles {
        padding-top: 60px;
        padding-bottom: 60px;
        
    }
    .campus-visit .img-container {
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Tablet Sized viewport breakpoint styles */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    html {
        margin-left: 40px;
        margin-right: 40px;
    }

    /* Hero section */
    .hero-section {
        text-align: center;
        padding-top: 80px;
    }
    .hero-section h1 {
        font-size: 40px;
    }
    .sub-title {
        font-size: 14px;
    }
    .button-container {
        gap: 12px;
    }
    .primary-button, .secondary-button {
        font-size: 14px;
        padding: 12px 20px; 
    }
    .prob-svg {
        width: 100%;
        border: 2px solid;
        border-radius: 8px;
        background-image: linear-gradient(to right, #4285F4, #D6C8FF);
        border-image: linear-gradient(45deg, #4285F4, #D6C8FF) 1;
        margin: 32px 0;
        box-shadow: 0px 0px 40px rgba(35, 43, 67, 1);
    }

    /* Challenges */
    .page-section {
        text-align: center;
        padding: 100px 0px 0px 0px;
    }
    .page-section h2 {
        font-size: 28px;
    }
    .challenge-container {
        display: inline-block;
        padding-top: 80px;
    }
    .challenge-item {
        width: 180px;
        height: 180px;
        padding: 4px;
    }
    .challenge-desc {
        font-size: 16px;
        width: 180px;
    }
    .challenge-num {
        font-size: 16px;
    }

    /* Features */
    .heading-caption {
        font-size: 14px;
    }
    .features-box {
        padding: 0px;
    }
    .feature-container {
        display: inline-block;
        padding: 24px;
    }
    .feature-container-gradient {
        background-image: none;
    }
    .feature-num {
        font-size: 16px;
    }
    .feature-content {
        gap: 20px;
    }
    h3 {
        font-size: 20px;
    }
    .feature-desc {
        display: inline;
        font-size: 14px;
    }
    .feature-img-one {
        padding-top: 24px;
    }
    .feature-img {
        display: inline-block;
        right: 0px;
    }
    .feature-img img {
        width: 100%;
    }
    .two-features {
        display: inline-block;
    }
    .feature-container-two {
        margin-right: 0px;
        gap: 24px;
        height: 480px;
        margin-bottom: 20px;
        padding: 24px;
    }
    .feature-container-two:last-child {
        margin-bottom: 0px;
    }
    .feature-img-two img {
        width: 140%;
    }
    .feature-img-three img {
        width: 100%;
    }
    .three-features {
        display: inline;
    }
    .feature-container-three {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .feature-container-three:last-child {
        margin-bottom: 0px;
    }
    /* Video */
    .demo-container {
        width:100%;
        height: 48vh;
        padding: 0px;
    }
    .demo-vid {
        margin: 32px 0;
    }

    /* Table */
    .efficacy-table h2, .efficacy-table .heading-caption, .table-container {
        display: none;
    }

    /* FAQs */
    .faqs {
        padding: 0px;
    }
    .faqs h2 {
        text-align: center;
        font-size: 28px;
    }
    .question {
        padding: 3vh;
        border-radius: 8px;
    }
    .question header h4 {
        font-size: 14px;
        font-weight: normal;
        width: 90%;
    }
    .question p {
        font-size: 14px;
    }

    /* Final CTA */
    .final-cta {
        padding: 0px;
    }
    .final-cta h3 {
        font-size: 28px;
    }

    /* Footer */
    .footer {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-container {
        height: 40px;
        font-size: 16px;
    }
    .footer-link {
        margin: 0 auto;
    }
    .footer-container .primary-links {
        display: none;
    }

    /* NAVBAR TEMP */
    .navbar {
        display: none;
    }

    /* Team Page Intro */
    .team-profile-container {
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: left;
        overflow-x: auto;
        text-align: left;
    }
    .icon-container {
        gap: 8px;
    }

    .guiding-principles {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .principles-container {
        padding-top: 20px;
    }
    .principle-square-card {
        width: 50%;
        height: auto;
        padding: 24px;
    }
    .principle-rectangle-card {
        width: 50%;
        height: auto;
        padding: 24px;
    }
    .principle-width-limit .principle-desc {
        max-width: 100%;
    }
    .principle-desc, .principle-content a {
        font-size: 14px;
    }
    .principle-desc {
        margin-top: 24px;
    }
    .principle-content a {
        display: none;
    }
    .research-img-right {
        position: relative;
        width: 100%;
        right: 0px;
        bottom: 0px;
    }
    .threecircles-img-right {
        position: relative;
        right: 0px;
        bottom: 0px;
        width: 100%;
    }
    .aiglitter-img-right {
        width: 100%;
        position: relative;
        right: 0px;
        margin-top: 40px;
        bottom: 0px;
    }
    
    .google-img-right {
        width: 100%;
        position: relative;
        right: 0px;
        bottom: 0px;
        margin-top: 40px;
    }

    .campus-visit, .guiding-principles {
        padding-top: 60px;
        padding-bottom: 60px;
        
    }
    .campus-visit .img-container {
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Large Tablets & Small Laptops Sized viewport breakpoint styles */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    html {
        margin-left: 40px;
        margin-right: 40px;
    }

    /* Navbar styles */
    .navbar {
        font-size: 16px;
        height: 120px;
        padding: 0;
    }

    .banner-link {
        font-size: 16px;
    }

    .primary-links {
        gap: 24px;
    }

    /* Hero section */
    .hero-section {
        text-align: center;
        padding-top: 80px;
    }
    .hero-section h1 {
        font-size: 60px;
    }
    .sub-title {
        font-size: 20px;
    }
    .button-container {
        gap: 12px;
    }
    .primary-button, .secondary-button {
        font-size: 20px;
        padding: 14px 24px; 
    }
    .prob-svg {
        width: 100%;
        border: 4px solid;
        border-radius: 8px;
        background-image: linear-gradient(to right, #4285F4, #D6C8FF);
        border-image: linear-gradient(45deg, #4285F4, #D6C8FF) 1;
        margin: 32px 0;
        box-shadow: 0px 0px 40px rgba(35, 43, 67, 1);
    }

    /* Challenges */
    .page-section {
        text-align: left;
        padding: 140px 0px 0px 0px;
    }
    .page-section h2 {
        font-size: 32px;
    }
    .challenge-container {
        display: flex;
        gap: 48px;
        padding-top: 80px;
    }
    
    .challenge-item {
        width: 170px;
        height: 170px;
    }
    
    .challenge-num {
        font-size: 16px;
    }
    
    .challenge-desc {
        font-size: 16px;
        width: 180px;
    }

    /* Features */
    .heading-caption {
        font-size: 20px;
    }
    
    .features-box {
        padding: 0;
    }
    
    .feature-container {
        padding: 24px;
    }
    
    .feature-num {
        font-size: 16px;
    }

    h3 {
        font-size: 24px;
    }

    .feature-container h3 {
        width: 200px;
    }
    
    .feature-desc {
        font-size: 14px;
    }
    .feature-img-two img {
        right: -20px;
    }
    .feature-img-three img {
        right: 0px;
    }
    .feature-container-two, .feature-container-three {
        padding: 24px;
    }
    .feature-five-img {
        width: 100%;
    }
    .feature-four-img {
        width: 100%;
    }
    

    /* Video */
    .demo-container {
        width:100%;
        height: 70vh;
        padding: 0px;
    }
    .demo-vid {
        margin: 32px 0;
    }

    /* Table */
    .efficacy-table h2, .efficacy-table .heading-caption, .table-container {
        display: none;
    }

    /* FAQs */
    .faqs {
        padding: 0px;
    }
    .faqs h2 {
        text-align: center;
        font-size: 28px;
    }
    .question {
        padding: 4vh;
        border-radius: 8px;
    }
    .question header h4 {
        font-size: 16px;
        font-weight: normal;
    }
    .question p {
        font-size: 16px;
    }

    /* Final CTA */
    .final-cta {
        padding: 0px;
    }
    .final-cta h3 {
        font-size: 40px;
    }

    /* Footer */
    .footer {
        padding: 0;
    }
    
    .footer-container {
        font-size: 16px;
        height: 80px;
    }

    /* Team Page Intro */
    .team-profile-container {
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: left;
        overflow-x: auto;
        text-align: left;
    }
    .icon-container {
        gap: 8px;
    }
    .guiding-principles {
        padding-left: 0px;
        padding-right: 0px;
    }
    .principles-container {
        padding-top: 24px;
    }
    .principle-square-card {
        padding: 24px;
    }
    .principle-rectangle-card {
        padding: 24px;
    }
    .principle-width-limit .principle-desc {
        max-width: 50%;
    }
    .principle-desc, .principle-content a {
        font-size: 14px;
    }
    .principle-desc {
        padding-top: 12px;
    }
    .research-img-right {
        right: -60px;
        width: 100%;
    }
    .threecircles-img-right {
        width: 70%;
        right: -190px;
        bottom: 140px;
    }
    .aiglitter-img-right {
        width: 100%;
        right: -40px;
        bottom: 0px;
    }
    
    .google-img-right {
        width: 100%;
        position: relative;
        right: -60px;
        bottom: 0px;
    }

    .campus-visit, .guiding-principles {
        padding-top: 140px;
        padding-bottom: 140px;
        
    }
    .campus-visit .img-container {
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
}




/* Large Desktop Sized viewport breakpoint styles */
@media only screen and (min-width: 1980px) {
    .page-section {
        padding: 5% 20%;
    }

    .threecircles-img-right {
        right: -320px;
        bottom: 240px;
    }

    .aiglitter-img-right {
        right: -140px;
        bottom: 8px;
    }

    .google-img-right {
        right: -100px;
        bottom: 40px;
    }

    .faqs {
        padding: 0 20%;
        padding-top: 180px;
    }

    .campus-visit-img {
        scale: 1.5;
        padding: 32px 0px 64px 0px;
    }

    .page-section.campus-visit {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}